.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    &--color-dark {
        color: $text-color-dark;
    }
    &--color-grey {
        color: $text-color-grey;
    }
    &--fw500 {
        font-weight: 500;
    }
}